
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    padding: 100px;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
.registro-form{
    background-color: rgb(0, 0, 0);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding:30px;
    gap: 3px;
    color: rgb(0, 0, 0);
    border-radius: 25px;
    border: 1px solid rgba(255, 0, 0, 0.5);
    box-shadow: 0 0 40px rgba(255, 0, 0, 0.4);
}
h1{
    font-size: clamp(40px, 10vw, 30px);
    padding: 5px;
    font-family: 'Pirata One', cursive;
    color:  rgba(239, 236, 236, 0.783);
    text-align: center;
    width: 100%;
    height: 110px;
}
label{
    text-align: center;
    background-color: black;
    font-family:'Pirata One', Tahoma, Geneva, Verdana, sans-serif;
    font-size:17px ;
    color: #ffffff;

}   
#submit{
    font-family: 'Pirata One', system-ui;
    background-color:rgba(255, 0, 0, 0.5);
    color: white;
    font-size: 20px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
.inputs:hover{
    border: 2px solid rgba(146, 73, 73, 0.5);
    
}
.inputs{
    padding: 10px;
    border-radius: 5px;
    border: 2px solid rgba(255, 0, 0, 0.5);
    font-size: 16px;
    background-color: black;
}