.about {
    background-color:  #000000;
    color: #ffffff;
    padding: 80px 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.about-container {
    max-width: 1100px;
    margin: auto;
    text-align: center;
}

.about h2 {
    font-family: 'Pirata One', sans-serif;
    font-size: 3.5rem;
    margin-bottom: 20px;
    color:rgb(153, 15, 15);
    
}
 h2 {
        animation: flotar 2s ease-in-out infinite;
    }
    @keyframes flotar {
        0%   { transform: translateY(0); }
        50%  { transform: translateY(-10px); }
        100% { transform: translateY(0); }
    }

.about-text {
    max-width: 800px;
    margin: 0 auto 50px;
    font-size: 1.1rem;
    line-height: 1.8;
    color: #dcdcdc;
}

.about-cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 25px;
}

.card {
    background: rgba(255, 255, 255, 0.08);
    padding: 30px 25px;
    border-radius: 16px;
    backdrop-filter: blur(10px);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card h3 {
    font-family: 'Pirata One', sans-serif;
    margin-bottom: 15px;
    font-size: 1.6rem;
    color: rgb(153, 15, 15);
}

.card p {
    font-size: 1rem;
    line-height: 1.6;
    color: #ffffff;
}

.card:hover {
    transform: translateY(-8px);
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);
}
