

* {
    margin: 0;
    padding: 0;
}

/* Header completo */
header {
    background-color: rgba(0, 104, 118, 0.882);
   
}

/* Navegación */
nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 40px;
    padding: 20px 0;
}
main{  background-color: #000000; }

/* Enlaces */
#a_nav {
    font-family:'Pirata One', system-ui;
    font-weight: 300 !important;
    font-size:30px;
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-weight: bold;
}
#a_nav:hover {
    opacity: 0.8;
}


  #a_hijo{ 
    font-family:'Pirata One', system-ui;
    color:  rgb(255, 255, 255) !important;
    text-decoration: none;
     
     text-align: center;
  }

  .hijo a{ display: block;
     text-decoration: none;
      color: black; 
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; 
      text-align: center ; }

   h1{ text-align: center; 
        color:  rgba(239, 236, 236, 0.783);
         font-family:'Pirata One', system-ui; 
         font-size: clamp(40px, 10vw, 90px);
         padding: 10px; 
        }
   

    h2{ text-align: center;
        color:  rgb(255, 255, 255);
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; 
        font-weight: 300;
        font-size: clamp(20px, 5vw, 35px);}

    .padre {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 30px;
        flex-wrap: wrap; /* 🔥 clave */
        height: auto;    /* 🔥 elimina altura fija */
        padding: 20px;
    }

  .hijo{
     padding: 40px; 
     border-radius: 5px; 
     width: clamp(120px, 40vw, 200px); }

     .hijo img {
    width: 100%;
    height: auto;
    display: block;
}
    div a {
        font-size: 30px !important;
    }


@media (max-width: 768px) {

    nav ul {
        flex-direction: column;
        gap: 15px;
    }

    main {
        padding: 10px;
    }
}